
/* ⇣⇣ MOBILE SETTINGS ⇣⇣ */
.MainLC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.MainLC2 {
  padding: 1.2rem;
}

.FormContainer form, .EndContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormContainer {
  background-color: #755971;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.OnaLogo2 {
  width: 13rem;
  height: 13rem;
}






















/* body {
  background: linear-gradient(
    180deg,
    rgb(55, 27, 55) 0%,
    rgb(121, 102, 121) 100%
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
}  

@media (min-width: 20em) and (max-width: 48em) {
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-top: 70px;
    padding-right: 13rem;
  }

  h1,
  h2 {
    padding-left: 2rem;
    color: white;
    margin: 0;
    font-size: 1.5rem;
  }

  .account {
    padding-left: 2rem;
    color: white;
  }

  .maincontainer {
    padding-left: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.199);
    min-height: 100vh;
    width:99%;
  }
  .input-field {
    width: 180px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
  button.login-button {
    width: 180px;
    padding: .8rem;
    margin-left: .4rem;
    background-color: #4a3271;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .login-button:hover {
    background-color: #4a3271;
  }
  p.create {
    color: white;
    padding-left: 3rem;
    padding-top: 1em;
    font-size: 0.8rem;
    display: flex;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 48.01em) and (max-width: 63.99em) {
  .logo {
    width: 250px; 
    height: 250px;
   
  }

  h1,
  h2 {
 
  } 

  .account {

  }

  .maincontainer {
 
  }
  .input-field {

  }
  
  button.login-button {

  }
  
  .login-button:hover {
    background-color: #4a3271;
  }
  p.create {
 
  }
  
} */