/* mobile through tablet WORKS PERFECT DONT SCREW THIS PART */
@media screen and (min-width: 20em) and (max-width: 63.99em) {
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
  
    .logo-container-super {
      display: flex;
      justify-content: center;
      height: 150px;
      width: 100%;
    }
    .H1-Intro,
    .H2-Header {
      display: flex;
      justify-content: center;
      color: white;
      width: 100%;
      text-align: center;
    }
  
    .P-About {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      color: white;
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .line {
      height: 2px;
      background-color: white;
      width: 100%;
      margin: 20px 0;
    }
  }
  
  /* Desktop-specific styles */
  @media screen and (min-width: 64em) {
    
    .movie-container {
      flex-direction: row; 
    }
  
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 800px;
      padding: 2rem;
      margin-left: 2rem; 
    }
    
    .movie-container {
      display: flex;
      justify-content: space-between; 
      padding: 2rem;
      align-items: flex-start;
      height: 100vh; 
    }
  
    
    .logo-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      align-items: center;
      position: sticky;
      top: 0; 
      width: 150px; 
      height: 100%;
    }
  
    img.logo {
      width: 100%; 
      height: auto;
    }
  
    
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100% - 170px); 
      max-width: 800px;
      padding: 2rem;
      margin-left: 20px;
    }
  
    .H1-Intro,
    .H2-Header {
      display: flex;
      justify-content: center;
      color: white;
      width: 100%;
      text-align: center;
    }
  
    .P-About {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      color: white;
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .line {
      height: 50vh;
      width: 2px; 
      background-color: white;
      margin: 20px 0;
      
      /* ^ currently disabled fix this and it works great  */
      /* code is also not applying sticky to the image or the containers unsure why that is */
    }
  }